.modal-overflow {
  display: flex;
  flex-direction: row;

  background-color: white;
  padding: 20px 75px;

  border-radius: 25px;
  
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.modal-overflow form {
  display: flex;
  flex-direction: column;
}
